:root {
  --color-primary: #1d4d4f;
  --color-secondary: #7fbeb7;
  --color-white: #fff;
  --color-transparent-white: rgba(255, 255, 255, 0.7);
  --color-cyan-medium: #5bc8af;
  --color-black: #000;
}
