/********************************
 * Footer
 ********************************/

.footer-wrapper {
  background-color: rgba(234, 234, 234, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  color: rgba(117, 117, 117, 1);
  padding: 38px 128px;
  font: 400 14px/24px Montserrat, sans-serif;
}

.footer-content {
  display: flex;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  text-align: right;
}

@media (max-width: 991px) {
  .footer-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }

  .footer-content {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .footer-wrapper {
    padding: 38px 0;
    max-width: 100%;
  }

  .footer-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer-wrapper {
    padding: 7px 0 38px 0;
    max-width: 100%;
  }

  .footer-content {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
