/* Header and Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--spacing-base) * 1.25) calc(var(--spacing-base) * 8)
    calc(var(--spacing-base) * 8);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  width: 226px;
  height: 35px;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.nav-divider {
  color: var(--color-transparent-white);
  margin-right: 46px;
  margin-left: 31px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: calc(var(--spacing-base) * 2);
}

.nav-list a {
  color: var(--color-transparent-white);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav-list li:first-child a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.nav-list a:hover {
  opacity: 0.8;
}

.cta-button {
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-contact {
  color: var(--color-cyan-medium);
}
