/* Header and Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(var(--spacing-base) * 8) 0px;
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  width: 226px;
  height: 35px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  margin: auto 0;
}

.nav-divider {
  color: var(--color-transparent-white);
  margin-right: 46px;
  margin-left: 31px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: calc(var(--spacing-base) * 2);
}

.nav-list a {
  color: var(--color-transparent-white);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav-list li:first-child a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.nav-list a:hover {
  opacity: 0.8;
}

.cta-button {
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-contact {
  color: var(--color-cyan-medium);
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .main-nav-mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 16px;
  }

  .nav-list {
    margin-top: 6px;
    gap: 29px;
  }

  .cta-button {
    margin-top: 8px;
  }
}
