/********************************
 * Testimonials
 ********************************/
.testimonial-container {
  align-self: center;
  z-index: 10;
  display: flex;

  width: 100%;
  background: white;
  flex-direction: column;
}
.testimonial-wrapper {
  align-self: center;
  margin-top: -34px;
  width: 100%;
  max-width: 980px;
}
.testimonial-content {
  gap: 20px;
  display: flex;
  height: 270px;
}
.profile-image-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
}
.profile-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  height: 270px;
}
.quote-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 72%;
  margin-left: 20px;
}
.quote-box {
  border-radius: 0;
  background-color: #194d44;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 42px 65px;
  height: 270px;
}
.quote-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.author-name {
  align-self: end;
  margin-top: 24px;
}
.quote-icon {
  aspect-ratio: 1.28;
  object-fit: contain;
  object-position: center;
  width: 60px;
  align-self: start;
}
.quote-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
  letter-spacing: 0.2px;
}

.organize-wrapper {
  margin-left: calc(var(--spacing-base) * 8);
  margin-right: calc(var(--spacing-base) * 8);
  margin-bottom: 100px;
}

.organize-section-title-wrapper {
  display: flex;
  margin-top: 188px;
  gap: 27px;
  color: #333;
  flex-wrap: wrap;
  font: 700 36px/1 Montserrat, sans-serif;
}
.organized-title {
  font-size: 36px;
}

.title-divider {
  width: 532px;
  max-width: 100%;
  height: 1px;
  margin: auto 0;
  border: 1px solid #eaeaea;
}
.organize-content-section {
  margin-top: 32px;
  width: 100%;
}
.organize-content-wrapper {
  gap: 36px;
  display: flex;
}
.intro-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  max-width: 371px;
}
.intro-text {
  color: #333;
  font: 400 18px/28px Montserrat, sans-serif;
  font-style: italic;
}
.text-bold {
  font-weight: 800;
}
.details-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  max-width: 371px;
}
.details-wrapper {
  flex-grow: 1;
}
.details-content {
  gap: 20px;
  display: flex;
}
.text-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}
.detail-text {
  color: #333;
  font: 400 14px/24px Montserrat, sans-serif;
}
.services-grid {
  display: flex;
  margin-top: 36px;
  gap: 20px;
  color: #333;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 700 18px/2 Montserrat, sans-serif;
}
.service-box {
  border-radius: 4px;
  border: 2px solid var(--color-cyan-medium);
  max-width: 371px;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 0 36px;
  line-height: 28px;
  position: relative;
}
.service-box:hover {
  color: var(--color-cyan-medium);
}
.service-box-alt {
  width: 299px;
  border-radius: 4px;
  line-height: 28px;
  padding: 27px 70px;
  border: 2px solid var(--color-cyan-medium);
}
.service-box-highlight {
  border-radius: 4px;
  display: flex;
  gap: 13px;
  color: var(--color-cyan-medium);
  padding: 36px 64px;
  border: 2px solid var(--color-cyan-medium);
}
.service-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  margin-left: 18px;
  margin-top: 3px;
}
.arrow-icon {
  aspect-ratio: 2.44;
  object-fit: contain;
  object-position: center;
  width: 22px;
  margin-bottom: -8px;
}

.tooltip-container {
  z-index: 2;
  position: absolute;
  top: 80px;
  left: 0px;
  display: none;
  width: 371px;
}

.tooltip {
  border-radius: 8px;
  background-color: #297c6b;
  margin-left: 36px;
  width: 300px;
  max-width: 100%;
  color: #fff;
  padding: 12px 16px;
  font: 400 13px/20px Montserrat, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (max-width: 768px) {
  .testimonial-wrapper {
    display: none;
  }

  .organize-wrapper {
    margin-left: 24px;
    margin-right: 24px;
  }

  .services-grid {
    gap: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-box {
    width: 100%;
  }

  .organize-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .intro-col {
    width: 100%;
    grid-column: 1 / 3;
    max-width: fit-content;
  }

  .details-col {
    width: 100%;
  }

  .title-divider {
    width: 66px;
  }
}

@media (max-width: 480px) {
  .testimonial-container {
    margin-top: 30px;
  }

  .testimonial-wrapper {
    margin-top: 30px;
    display: none;
  }

  .organize-wrapper {
    margin-left: 16px;
    margin-right: 16px;
  }

  .organize-section-title-wrapper {
    margin-top: 85px;
  }

  .organize-section-title-wrapper > h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .organize-content-wrapper {
    flex-direction: column;
  }

  .intro-col {
    width: 100%;
  }

  .details-col {
    width: 100%;
  }

  .services-grid {
    flex-direction: column;
  }

  .service-box {
    width: 100%;
  }
}
