/********************************
 * Understanding
 ********************************/
.understanding-section {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: calc(var(--spacing-base) * 0) calc(var(--spacing-base) * 8)
    calc(var(--spacing-base) * 8.75);
  justify-content: space-between;
  align-items: start;
}

.understanding-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.understanding-image-grid {
  gap: 36px;
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--spacing-base) * 4);
}

.understanding-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  max-height: 180px;
}

.understanding-image {
  width: 100%;
  border-radius: 8px;
  max-width: 371px;
  max-height: 180px;
}
.understanding-section-header {
  margin-top: 8px;
  color: rgba(51, 51, 51, 1);
  font: 700 36px/1 Montserrat, sans-serif;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
}
.header-text {
  flex-grow: 0;
  flex-basis: auto;
  border: 1px solid rgba(51, 51, 51, 1);
}
.understanding-section-header > .divider {
  width: 100%;
  max-width: 813px;
  height: 1px;
  margin: auto 0 auto 27px;
  border: 1px solid rgba(234, 234, 234, 1);
}
.understanding-content-grid {
  margin-top: 32px;
}

.understanding-text-content {
  gap: 36px;
  display: flex;
}
.description-text {
  color: rgba(51, 51, 51, 1);
  font: 400 14px/24px Montserrat, sans-serif;
}
.stats-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}
.success-rate {
  padding: 15px 90px;
  letter-spacing: 0.2px;
  border-radius: 4px;
  display: flex;
  margin-top: 10px;
  gap: 8px;
  font-size: 18px;
  color: rgba(91, 200, 175, 1);
  font-weight: 700;
  border: 2px solid rgba(91, 200, 175, 1);
}
.success-icon {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  width: 17px;
  margin: auto 0;
}

@media (max-width: 768px) {
  .understanding-section {
    padding: 0px 16px;
  }

  .understanding-image-grid {
    display: none;
  }

  .understanding-text-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: column;
  }

  .understanding-image-column {
    width: 348px;
    max-width: 348px;
  }

  .success-rate {
    height: 50px;
    padding: 15px 78px 9px 78px;
  }

  .description-text {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .description-text {
    line-height: 26px;
  }
  .masthead-contact-button {
    width: 100%;
  }

  .success-rate {
    padding: 15px 68px 9px 68px;
  }
}
