/* Reset and Base Styles */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff2") format("woff2"),
    url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

:root {
  --color-primary: #1d4d4f;
  --color-secondary: #7fbeb7;
  --color-white: #fff;
  --color-transparent-white: rgba(255, 255, 255, 0.7);
  --color-cyan-medium: #5bc8af;
  --spacing-base: 16px;
  font-size: 14px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-primary);
  color: var(--color-white);
  line-height: 1.6;
}

/* Utility Classes */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Header and Navigation */
.main-nav {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--spacing-base) * 1.25) calc(var(--spacing-base) * 8)
    calc(var(--spacing-base) * 8);
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-white);
  width: 226px;
  height: 35px;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.nav-divider {
  color: var(--color-transparent-white);
  margin-right: 46px;
  margin-left: 31px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: calc(var(--spacing-base) * 2);
}

.nav-list a {
  color: var(--color-transparent-white);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.nav-list li:first-child a {
  color: var(--color-white);
  font-weight: bold;
  text-decoration: underline;
}

.nav-list a:hover {
  opacity: 0.8;
}

.cta-button {
  color: var(--color-white);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.cta-contact {
  color: var(--color-cyan-medium);
}

/* highlight Section */
.highlight {
  position: relative;
}

.respect-message {
  line-height: 24px;
  width: 601px;
  margin: calc(var(--spacing-base) * 0.75) 0 0;
}

.highlight > .highlight-container {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--spacing-base) * 1.25) calc(var(--spacing-base) * 8)
    calc(var(--spacing-base) * 8);
}

.highlight-content {
  flex: 1;
  max-width: 600px;
}

.highlight-content h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin-bottom: calc(var(--spacing-base) * 2);
}

/* Contact Form */
.contact-form-wrapper {
  background: linear-gradient(#2a7d6c, rgba(62, 105, 96, 0.62));
  padding: calc(var(--spacing-base) * 2);
  border-radius: 15px;
  width: 40%;
}

.contact-form-wrapper h2 {
  text-align: center;
  margin-bottom: calc(var(--spacing-base) * 2);
}

.form-group {
  display: flex;
  gap: var(--spacing-base);
  margin-bottom: var(--spacing-base);
}

.contact-form input,
.contact-form select {
  width: 100%;
  padding: calc(var(--spacing-base) * 0.75);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.24);
  border-radius: 5px;
  color: var(--color-white);
}

.contact-form input::placeholder {
  color: var(--color-transparent-white);
}

.submit-button {
  width: 100%;
  padding: calc(var(--spacing-base) * 0.9375);
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #6ca59e;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: var(--color-white);
  clip-path: ellipse(60% 60% at 50% 100%);
}

/* Media Queries */
@media (max-width: 768px) {
  .highlight .highlight-container {
    flex-direction: column;
  }

  .highlight-content,
  .contact-form-wrapper {
    width: 100%;
  }

  .main-nav {
    flex-direction: column;
    gap: var(--spacing-base);
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }

  .highlight-content h1 {
    font-size: 3rem;
  }
}

/********************************
 * We Understand
 ********************************/
.understanding-section {
  background-color: rgba(245, 245, 245, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: calc(var(--spacing-base) * 2) calc(var(--spacing-base) * 8)
    calc(var(--spacing-base) * 8.125);
  justify-content: space-between;
  align-items: start;
}

.understanding-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.understanding-image-grid {
  gap: 36px;
  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--spacing-base) * 4);
}

.understanding-image-column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 33%;
  max-height: 180px;
}

.understanding-image {
  width: 100%;
  border-radius: 8px;
  max-width: 371px;
  max-height: 180px;
}
.understanding-section-header {
  color: rgba(51, 51, 51, 1);
  flex-wrap: wrap;
  font: 700 36px/1 Montserrat, sans-serif;
  margin-bottom: calc(var(--spacing-base) * 2);
  display: flex;
  flex-direction: row;
}
.header-text {
  flex-grow: 0;
  flex-basis: auto;
  border: 1px solid rgba(51, 51, 51, 1);
}
.understanding-section-header > .divider {
  width: 100%;
  max-width: 816px;
  height: 1px;
  margin: auto 0 auto 27px;
  border: 1px solid rgba(234, 234, 234, 1);
}
.understanding-content-grid {
  margin-top: 32px;
}

.understanding-text-content {
  gap: 36px;
  display: flex;
}
.description-text {
  color: rgba(51, 51, 51, 1);
  font: 400 14px/24px Montserrat, sans-serif;
}
.stats-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}
.success-rate {
  border-radius: 4px;
  display: flex;
  margin-top: 10px;
  gap: 8px;
  font-size: 18px;
  color: rgba(91, 200, 175, 1);
  font-weight: 700;
  padding: 15px 74px 15px;
  border: 2px solid rgba(91, 200, 175, 1);
}
.success-icon {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  width: 17px;
  margin: auto 0;
}
@media (max-width: 991px) {
  .understanding-section {
    max-width: 100%;
    padding: 0 20px 100px;
  }
  .content-wrapper {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .image-grid {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .image-column {
    width: 100%;
  }
  .feature-image {
    margin-top: 36px;
  }
  .section-header {
    margin-top: 40px;
  }
  .text-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .description-text {
    margin-top: 35px;
  }
  .stats-container {
    margin-top: 35px;
  }
  .success-rate {
    padding: 0 20px;
  }
}

/********************************
 * Testimonials
 ********************************/
.testimonial-container {
  align-self: center;
  z-index: 10;
  display: flex;
  margin-top: -30px;
  width: 100%;
  max-width: 1185px;
  flex-direction: column;
}
.testimonial-wrapper {
  align-self: center;
  width: 100%;
  max-width: 980px;
}
.testimonial-content {
  gap: 20px;
  display: flex;
}
.profile-image-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
}
.profile-image {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}
.quote-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 72%;
  margin-left: 20px;
}
.quote-box {
  border-radius: 0;
  background-color: #194d44;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  color: #fff;
  margin: 0 auto;
  padding: 42px 65px;
}
.quote-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  flex-wrap: wrap;
  justify-content: space-between;
}
.author-name {
  align-self: end;
  margin-top: 24px;
}
.quote-icon {
  aspect-ratio: 1.28;
  object-fit: contain;
  object-position: center;
  width: 60px;
  align-self: start;
}
.quote-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 16px;
}
.section-title-wrapper {
  display: flex;
  margin-top: 180px;
  gap: 27px;
  color: #333;
  flex-wrap: wrap;
  font: 700 36px/1 Montserrat, sans-serif;
}
.section-title {
  flex-grow: 1;
  flex-basis: auto;
  border: 1px solid #333;
}
.title-divider {
  width: 532px;
  max-width: 100%;
  height: 1px;
  margin: auto 0;
  border: 1px solid #eaeaea;
}
.content-section {
  margin-top: 32px;
  width: 100%;
}
.content-wrapper {
  gap: 20px;
  display: flex;
}
.intro-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 30%;
}
.intro-text {
  color: #333;
  font: 400 18px/28px Montserrat, sans-serif;
}
.text-bold {
  font-weight: 800;
}
.details-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 70%;
  margin-left: 20px;
}
.details-wrapper {
  flex-grow: 1;
}
.details-content {
  gap: 20px;
  display: flex;
}
.text-col {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 50%;
}
.detail-text {
  color: #333;
  font: 400 14px/24px Montserrat, sans-serif;
}
.services-grid {
  display: flex;
  margin-top: 36px;
  gap: 20px;
  color: #333;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font: 700 18px/2 Montserrat, sans-serif;
}
.service-box {
  border-radius: 4px;
  padding: 42px 70px;
  border: 2px solid #5bc8af;
}
.service-box-alt {
  width: 299px;
  border-radius: 4px;
  line-height: 28px;
  padding: 27px 70px;
  border: 2px solid #5bc8af;
}
.service-box-highlight {
  border-radius: 4px;
  display: flex;
  gap: 13px;
  color: #5bc8af;
  padding: 36px 64px;
  border: 2px solid #5bc8af;
}
.service-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}
.arrow-icon {
  aspect-ratio: 2.44;
  object-fit: contain;
  object-position: center;
  width: 22px;
  margin-left: 175px;
}
.tooltip {
  border-radius: 8px;
  background-color: #297c6b;
  margin-left: 36px;
  width: 300px;
  max-width: 100%;
  color: #fff;
  padding: 12px 16px;
  font: 400 13px/20px Montserrat, sans-serif;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@media (max-width: 991px) {
  .testimonial-container {
    max-width: 100%;
  }
  .testimonial-wrapper {
    max-width: 100%;
  }
  .testimonial-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .profile-image-col {
    width: 100%;
  }
  .profile-image {
    margin-top: 36px;
  }
  .quote-col {
    width: 100%;
  }
  .quote-box {
    max-width: 100%;
    margin-top: 36px;
    padding: 0 20px;
  }
  .quote-header {
    max-width: 100%;
  }
  .quote-text {
    max-width: 100%;
  }
  .section-title-wrapper {
    margin-top: 40px;
  }
  .section-title {
    max-width: 100%;
  }
  .content-section {
    max-width: 100%;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .intro-col {
    width: 100%;
  }
  .intro-text {
    margin-top: 40px;
  }
  .details-col {
    width: 100%;
  }
  .details-wrapper {
    max-width: 100%;
    margin-top: 40px;
  }
  .details-content {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
  }
  .text-col {
    width: 100%;
  }
  .detail-text {
    margin-top: 36px;
  }
  .services-grid {
    max-width: 100%;
  }
  .service-box {
    padding: 0 20px;
  }
  .service-box-alt {
    padding: 0 20px;
  }
  .service-box-highlight {
    padding: 0 20px;
  }
  .arrow-icon {
    margin-left: 10px;
  }
  .tooltip {
    margin-left: 10px;
  }
}

/********************************
 * Video Section
 ********************************/
/* .video-section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  min-height: 648px;
  margin-right: -64px;
  flex-grow: 1;
  align: center;
  justify-content: center;
  padding: 94px 80px;
}

.background-image {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.content-wrapper {
  position: relative;
  display: flex;
  width: 472px;
  max-width: 100%;
  flex-direction: column;
}

.video-title {
  color: #fff;
  margin-right: 28px;
  font: 700 44px/1 Montserrat, sans-serif;
  border: 1px solid #fff;
}

.features-container {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}

.icon-column {
  align-self: start;
  display: flex;
  margin-top: 6px;
  flex-direction: column;
}

.feature-icon {
  aspect-ratio: 1.39;
  object-fit: contain;
  object-position: center;
  width: 18px;
}

.icon-spacing-1 {
  margin-top: 133px;
}

.icon-spacing-2 {
  margin-top: 106px;
}

.features-content {
  display: flex;
  flex-direction: column;
  color: var(--ffffff, #fff);
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
  font: 700 24px/1 Montserrat, sans-serif;
}

.feature-title {
  align-self: start;
}

.feature-description {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 8px;
}

.feature-spacing {
  margin-top: 22px;
}

@media (max-width: 991px) {
  .video-section {
    max-width: 100%;
    padding: 0 20px;
  }

  .video-title {
    max-width: 100%;
    margin-right: 10px;
  }

  .features-container {
    margin-top: 40px;
  }

  .icon-column {
    display: none;
  }

  .icon-spacing-1,
  .icon-spacing-2 {
    margin-top: 40px;
  }

  .features-content {
    max-width: 100%;
  }

  .feature-description {
    max-width: 100%;
  }
} */

/********************************
 * Footer
 ********************************/

.footer-wrapper {
  background-color: rgba(234, 234, 234, 1);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: rgba(117, 117, 117, 1);
  justify-content: center;
  padding: 38px 70px;
  font: 400 14px/24px Montserrat, sans-serif;
}

.footer-content {
  display: flex;
  width: 100%;
  max-width: 1185px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-links {
  text-align: right;
}

@media (max-width: 991px) {
  .footer-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }

  .footer-content {
    max-width: 100%;
  }
}
